<head>
  <style type="text/css">
    img.search{
      margin-top: 2em;
      margin-left: 0px;
      margin-right: 0px;
      z-index: 0;
      position: relative;
      width: 100%;
    }
  </style>
</head>

<body>
<div class="header">
<a class="nav" href="/">Home</a>
<a class="nav" href="/search">Search</a>
<a class="active" href="/users/new">Register</a>
<a class="nav" href="/cars/new">List your Car</a>
</div>
<svg height=3em width=100%>
  <line x1=0 y1=3em x2=100% y2=3em style="stroke:lightgrey;stroke-width:2" />
  Sorry, your browser does not support inline SVG.
</svg>
<img class="search" src="/assets/search.jpg" alt="Search">
</div>
</body>