<head>
  <link href="application.scss" type="text/css" />
  <style>
    img.search{
      margin-top: 2em;
      margin-left: 0px;
      margin-right: 0px;
      z-index: 0;
      position: relative;
      width: 100%;
    }
  </style>
</head>

<body>
<div class="header">
<a class="nav" href="/">Home</a>
<a class="active" href="/search">Search</a>
<a class="nav" href="/users/new">Register</a>
<a class="nav" href="/cars/new">List your Car</a>
<hr class="header-line">
</div>
<img class="search" src="/assets/search.jpg" alt="Search">
</div>
</body>