/* line 5, C:/Users/Kyle/Dropbox/Frontier/app/assets/stylesheets/welcome.css.scss */
a {
  font-size: 18px;
}

/* line 9, C:/Users/Kyle/Dropbox/Frontier/app/assets/stylesheets/welcome.css.scss */
ul#bkgnd {
  margin: 0 auto;
  background-image: url(/assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 1000px;
}
