<body>
<div class="header">
<a class="nav" align="right" href="/">Home</a>
<a class="active" align="left" href="/users/new">Register</a>
<a class="nav" align="left" href="/cars/new">List your Car</a>
</div>
<div class="wrapper">
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', "/" %>
</div>
</body>
