<body>
<div class="header">
<a class="nav" href="/">Home</a>
<a class="nav" href="/search">Search</a>
<a class="active" href="/users/new">Register</a>
<a class="nav" href="/cars/new">List your Car</a>
</div>
<svg height=3em width=100%>
  <line x1=0 y1=3em x2=100% y2=3em style="stroke:lightgrey;stroke-width:2" />
  Sorry, your browser does not support inline SVG.
</svg>
<div class="wrapper">
<br>
<br>
<br>
<br>
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', "/" %>
</div>
</body>
