<head>
	<style type="text/css">
		a{
	font-size: 18px;
}

img.hero {
	margin-top: 2%;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 0;
	position: relative;
	width: 100%;
}

h1{
	font-size: 56px;
	font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
	line-height: 40px;
	margin-top: -55%;
	position: relative;
	color: white; 
	text-shadow: 2px 2px 8px grey;
	z-index: 1;
}

input[type=text] {
		padding-left: 20px;
		padding-bottom: 5px;
		padding-right: 20px;
		padding-top: 5px;
		margin-left: 0;
		margin-bottom: 27px;
		margin-right: 0;
		margin-top: 5px;
		width: 50%;
		font-size: 100%;
		font-family: avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    	display: inline-block;
    	border: 2px solid #ccc;
    	border-radius: 5px;
    	box-sizing: border-box;
    	position: relative;
    	z-index: 1;
    	
}
	</style>
</head>

<body>
<div class="header">
<a class="active" href="/">Home</a>
<a class="nav" href="/search">Search</a>
<a class="nav" href="/users/new">Register</a>
<a class="nav" href="/cars/new">List your Car</a>
</div>
<img class="hero" src="/assets/hero.jpg" alt="Hero">
<h1 align="center">Where are you going next?</h1>
<div class="wrapper">
<input type="text" name="location" placeholder="Destination, city, address" autocomplete="off" id="search-location" value="">
</div>
</body>

