
<meta name=viewport content="width=device-width, initial-scale=1">
<h1 align="center">Welcome to Frontier Car Rental</h1>
<p align="center"><a href="/users/new">Register</a>&nbsp;&nbsp;&nbsp;<a href="/cars">Car fleet</a></p>
<ul id="bkgnd"></ul>
