 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*@import "bootstrap-sprockets";
*@import "bootstrap";
*/

.header {
	padding-bottom: 1em;
	padding-top: 0;
	text-align: center;
	width: 100%;
	z-index: 2;
	position: fixed;
	background-color: white;
}

body {
    font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;
    background: #fff;
}

hr.header-line {
    border: 0;
    height: 1px;
    margin-bottom: 0;
    margin-top:.75em;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.nav {
    margin-left: 3%;
    font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 18px;
    margin-right: 3%;
	text-decoration: none;
	color: black;
}

.active {
	margin-left: 3%;
	font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
	margin-right: 3%;
	font-size: 18px;
	text-decoration: none;
	color: #007AFF;
}

a.nav:hover {
	text-decoration: none;
	color: #007AFF;
}

 a{
 	font-size: 18px;
 }

 .wrapper{
	text-align: center;
}

