<body>
<div class="header">
<a class="nav" href="/">Home</a>
<a class="nav" href="/search">Search</a>
<a class="nav" href="/users/new">Register</a>
<a class="active" href="/cars/new">List your Car</a>
<hr class="header-line">
</div>
<div class="wrapper">
<br>
<br>
<br>
<br>
<h1>New Car</h1>

<%= render 'form', car: @car %>

<%= link_to 'Back', cars_path %>
</div>
</body>
