<head>
	<style type="text/css">
p {
    font-size: 0.1em;
    text-align: center;
}
a{
  font-size: 0.1em;
}
footer{
  margin-top: 100px;
  margin-bottom: 100px;
}
	</style>
</head>

<footer class="container">
  <p>
    <br>Designed by <a href="http://frontier-car-rental.herokuapp.com/" target=_new>Frontier Car Rental</a>
  </p>
</footer>